name: Resetprop Build

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build Magisk artifacts
    runs-on: macos-15
    strategy:
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          is-asset-build: true

      - name: Build resetprop
        run: ./build.py -vr native resetprop

      - name: Stop gradle daemon
        run: ./app/gradlew --stop

      - name: Find path
        run: find $(pwd) -type f -name "resetprop"

      - name: Upload arm64 libs
        uses: actions/upload-artifact@v4
        with:
          name: libresetprop-arm64
          path: /Users/runner/work/libresetprop_magisk/libresetprop_magisk/native/out/arm64-v8a/resetprop

      - name: Upload arm32 libs
        uses: actions/upload-artifact@v4
        with:
          name: libresetprop-arm
          path: /Users/runner/work/libresetprop_magisk/libresetprop_magisk/native/out/armeabi-v7a/resetprop

      - name: Upload x86_64 libs
        uses: actions/upload-artifact@v4
        with:
          name: libresetprop-x86_64
          path: /Users/runner/work/libresetprop_magisk/libresetprop_magisk/native/out/x86_64/resetprop
